blanco = #eee
gris1 = #444
gris2 = #7a7a7a

/////////////////////////////////COMIENZA EL BODY
body
	background blanco
	color gris1
	font-family Arial
	font-size 16px

/////////////////////////////////COMIENZA EL HEADER 
header
	display block
	background gris1
	margin 0
	padding 0.5em
	position relative
		
	.cabecera_izq
		float left
		margin 0
		padding 0
		position relative
		height 20px
		width 20px
		
		.boton_cabecera
			position absolute
			height 100%
			z-index 10
	
	.buscador
		//height 20px
		margin 0
		padding 0 20% 0 20%
		width 60%
		position relative
		
		form
			.buscar
				border-radius 8px
				border 0
				height 18px
				width 100%
				//position absolute
		
	input::-moz-placeholder
		text-align center
		
	input::-webkit-input-placeholder
		text-align center
			
/////////////////////////////////COMEINZA EL SECTION	
section
	margin-top 2%
	position relative
	
/////////////////////////////////COMEINZA EL ARTICLE 
article
	border-bottom 1px solid gris2
	display block
	height 25%
	position relative
	overflow hidden
	
.item
	color gris2
	
	.img_size
		float left
		position relative
		width 35%
		
		.minifoto
			height auto
			position absolute
			width 100%
			
	.detalles
		height 100%
		margin 0 0 0 36%
		
		h2
			color gris1
		
		.titulo
			font-size 14px
			margin 0
			
		.descripcion
			font-size 12px
			margin 0.2em 0 0 0
			
		.item_data
			font-size 14px
			margin 0.2em 0 0 0
			
			.condicion
				display inline-block
				margin 0
			
			.tienda
				display inline-block
				float right
				margin 0 0.3em 0 0
				
		.precio
			font-size 14px
			text-align center
			margin 0 0 0 0		

/////////////////////////////////COMIENZA LA BOTONERA O MENU
nav
	background gris1
	bottom 0
	color blanco
	position fixed
	text-align center
	width 100%
	
	.menu
		margin-bottom .3em
		padding 0
		width 100%
		
		li
			display inline-block
			font-size .8em
			margin 0 2%

/////////////////////////////////PROPIEDADES Y CLASES AUXILIARES
a
	text-decoration none

